*.gem
*.rbc
.bundle
.config
.project
coverage
InstalledFiles
lib/bundler/man
nohup.out
pkg
rdoc
spec/reports
scripts/dump.rdb
test/tmp
test/version_tmp
tmp
*.*~

# YARD artifacts
.yardoc
_yardoc
appendonly.aof
